*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    padding: 20px 0;
}
.container h1{
    margin-bottom: 20px;
    color: skyblue;
}
.container input{
    padding: 20px 10px;
    width: 400px;
    border: 0;
    box-shadow: 2px 3px 10px #ccc;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    outline: none;
    margin-right: 5px;
    font-size: 20px;
    margin-bottom: 30px;
}
.container .add{
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 0;
    outline: none;
    box-shadow: 3px 4px 10px #ccc;
    cursor: pointer;
    background: skyblue;
    color: #fff;
    font-size: 18px;
}
ul{

margin: auto;
list-style: none;
}
.container li{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    
    padding: 7px;
}
.container .delet{
    background: #f00;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 50px;
    cursor: pointer;
}